doctype html
html(lang='en')
    include common/header.pug
    +head("Todo App")
    body 
        include common/navbar.pug
        +navbar()
        header.masthead
            .container.h-100
                .row.h-50.align-items-center
                .col-12.text-center
                    h1.font-weight-bold(style="color: #fff;") Lorem ipsum dolor sit amet
                    p.lead(style="color: #fff") Repellendus ab nulla dolorum autem

        section.py-5
            .container
                h2.font-weight-light Page Content
                p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab nulla dolorum autem nisi officiis blanditiis voluptatem hic, assumenda aspernatur facere ipsam nemo ratione cumque magnam enim fugiat reprehenderit expedita.
        .container
            h3(style="text-align: center;") Planned tasks
            form(action="/add" method="POST")
                .input-group.mb-3
                    input.form-control(type='text' name="task" placeholder="Buy milk..." aria-label="Recipient's username" aria-describedby='button-addon2')
                    button#button-addon2.btn.btn-outline-secondary(type='submit') Add

        include common/footer.pug
        +footer()